@model SmartAccount.Controllers.LoginModel

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div class="login-form">
        <div class="login-label"></div><div class="login-input">@Html.TextBoxFor(s => s.UserName)</div>
        <div class="login-label"></div><div class="login-input">@Html.TextBoxFor(s => s.Password)</div>
        <div class="login-label"></div><div class="login-input"><input type ="submit" value="Giriş"/></div>
        @Html.ValidationSummary();
    </div>
}